{% extends 'base.html' %}
{% block page %}
home
{% endblock %}
{% block title %}
Sign Up
{% endblock %}
{% block content %}
{% load static %}
<div class="container-fluid p-0 m-0 " style="border-radius:5px;">

     <div class="container-fluid bg-dark" style="border-radius:0px 0px 30px 30px;min-height:200px;">
        <div class="row">
            <div class="col sm-12">

            </div>
        </div>
     <div class="row my-5"><div class="col-sm-12 text-center text-light h3 " >Edit <font style="color:#e5ac4a;">Profile</font></div></div>
     </div>
     <div class="container" style="background:white;border-radius:30px;transform:translateY(-70px);">
     <div class="row bg-light p-5" style="border-radius:30px;">

    <div class="col-sm-6 p-3 " style="border-radius:5px;">

        <div class="row">
           {% if pro %}
            <div class="col-sm-12">
                <form action="/user/saveedit/" method="post" enctype="multipart/form-data" id="formdata">
                     {% csrf_token %}
            <font class="h6">Name :</font> <br>
            <input type="text" placeholder="Enter your name" value="{{pro.name}}" name="name" required class="form-control bg-light">
            <font class="h6">Mobile no:</font> <br>
            <input type="text" placeholder="Enter your mobile number" value="{{pro.mob}}" name="mobno" required class="form-control bg-light">
             <font class="h6">Email :</font> <br>
            <input type="email" placeholder="Enter your email address" value="{{pro.email}}" name="email" required class="form-control bg-light">
              <font class="h6">Username :</font><br>
            <input type="text" placeholder="Create username" name="username" disabled value="{{pro.userid}}" required class="form-control bg-light" oninput="checkusername(this)"><span id="ualert" class="text-danger"></span><br>

             <font class="h6">Profile Picture :</font><br>
            <input type="file" pattern="" class="form-control bg-light" name="file">
            <font class="h6">Address :</font><br>
                    <textarea  placeholder="Enter your name"  name="address" required class="form-control bg-light">{{pro.address}}</textarea>
             <input type="submit" class="btn btn-success m-3" style="background-color:#e5ac4a;border:none" value="Update">
        </form>
            </div>
            {% else %}
            <div class="col-sm-12">
                <font class="text-primary">Sign in first.... <button class="btn btn-primary" onclick="trig()">Sign In</button></font>
            </div>
            {% endif %}

        </div>




    </div>
         <div class="col-sm-6 p-4">
             <center>            <img src="/{{pro.userpic}}" class="img-fluid img-responsive p-4 " >
             <p class="h4" style="color:#e5ac4a;">{{pro.name}}</p>
             </center>
        </div>


</div>

         <div class="row">
             <div class="col-sm-12 text-center">
                 <font>Already Have an Account. <button onclick="trig()" class="btn btn-outline-primary" style="border:none;">Sign In </button></font>
             </div>

         </div>
     </div>
</div>

{% endblock %}