{% extends 'base.html' %}
{% block title %}
My Cart
{% endblock %}
{% block content  %}
{% load static %}
<div class="container-fluid">
    <div class="row bg-dark" style="border-radius:0px 0px 30px 30px">
                    <div class="col-sm-12 text-center h3 text-light pb-5"> <div id="swipe" style="min-height:30px;"></div>Order <font style="color:#e5ac4a;">Status</font></div>

    </div>
    <div class="container" style="border-radius:30px;transform:translateY(-50px);">

        <div class="row bg-light p-4"  style="border-radius:30px;">
           <form>
         <div class="row h5">
             Current&nbsp;<font style="color:#e5ac4a;"> Details</font></div>
         </div>
           </form>
        </div>

    </div>
</div>
{% endblock %}